<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
        Guest List
      {% endblock %}
    </title>
    {% block stylesheets %}
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {% endblock %}
   </head>
  <body>
  <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('mipa_user') }}">Guest List</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ path('mipa_user_new') }}">Add new guest</a></li>
              <li><a href="{{ path('mipa_sub') }}">Subscription list</a></li>
              <li><a href="#contact">Contact</a></li>
			  <li>{{ app.session.get('myname').titleMeta }}</li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>

            {% block content %}
            {% endblock %}
   
  </body>
</html>